Flask
selenium
gspread
oauth2client
undetected-chromedriver
gunicorn
webdriver-manager
setuptools
chromedriver-autoinstaller
psycopg2-binary
google-auth
google-api-python-client
google-auth-httplib2 # Recommended to ensure http client dependency
google-auth-oauthlib
